apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels: 
        app: myapp
    spec:
      containers:
        - name: container1
          image: manjirinaik/myapp
          ports:
           - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: myservice
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - port: 80
      targetPort: 80